{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">

    <div class="masthead-heading text-uppercase">TU MERCADO</div>
    <div class="masthead-subheading">Resultados de busqueda muebles</div>
{% endblock %}

{% block contenido %}
    <h3>Resultados de busqueda muebles</h3>
    {% if muebles %}
        <ul>
            {% for mueble in muebles %}
                <li>Item: {{mueble.nombre}}</li>
                <li>Material: {{mueble.email_contacto}}</li>
                <li>Precio: {{mueble.precio}}</li>
                <li>Email contacto: {{mueble.email_contacto}}</li>
                <div>------------------------------------------------ </div>
                <br>
            {% endfor %}
        </ul>
    {% else %}
    No se encontraron publicaciones
    {% endif %}
{% endblock %}

