{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">

    <div class="masthead-heading text-uppercase">TU MERCADO</div>
    <div class="masthead-subheading">Resultados de busqueda muebles</div>
{% endblock %}

{% block contenido %}
    Resultados de busqueda muebles
    <div>------------------------------------------------ </div>
    {% if muebles %}
        <ul>
            {% for mueble in muebles %}
                <li>{{mueble.nombre}}</li>
                <li>{{mueble.precio}}</li>
                <li>{{mueble.email_contacto}}</li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
    No se encontraron publicaciones
    {% endif %}
{% endblock %}

