{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">

    <div class="masthead-heading text-uppercase">TU MERCADO</div>
    <div class="masthead-subheading">Resultados de busqueda electrodomesticos</div>
{% endblock %}

{% block contenido %}
    <h3>Resultados de busqueda electrodomesticos</h3>
    {% if electrodomesticos %}
        <ul>
            {% for electro in electrodomesticos %}
                <li>Item: {{electro.nombre}}</li>
                <li>Marca: {{electro.marca}}</li>
                <li>Precio: {{electro.precio}}</li>
                <li>Email contacto: {{electro.email_contacto}}</li>
                <div>------------------------------------------------ </div>
                <br>
            {% endfor %}
        </ul>
    {% else %}
    No se encontraron publicaciones
    {% endif %}
{% endblock %}

