{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">
    <div class="masthead-subheading">Electrodomesticos</div>
    <div class="masthead-heading text-uppercase">TU MERCADO</div>
{% endblock %}

{% block contenido %}
    <a class="navbar-brand"><a href={% url 'electrodomesticosFormulario' %}>Publicar un nuevo electrodomestico</a><br>
    <a class="navbar-brand"><a href={% url "busquedaElectrodomesticos" %}>Buscar publicaciones de electrodomestico</a><br>
    <a class="navbar-brand"><a href={% url "leerElectrodomesticos" %}>Ver todas las publicaciones de electrodomesticos</a><br>
{% endblock %}

