{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">

    <div class="masthead-heading text-uppercase">TU MERCADO</div>
    <div class="masthead-subheading">Bienvenido a nuestra web {{ user.username }}</div>
{% endblock %}

{% block contenido %}
    {{ mensaje }}
    {% comment %} ACTUALIZACIÓN DEL PERFIL "{{usuario}}"
    <div>------------------------------------------------ </div> {% endcomment %}
    {% comment %} <form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %}

        <table>

            {{ formulario.as_table }}
    
        </table>
        <p> <input type="submit" value="Guardar"></p>
    </form> {% endcomment %}
    {% comment %} <h3>{{ mensaje }}</h3> {% endcomment %}
    
{% endblock %}