{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">
    <div class="masthead-subheading">Muebles</div>
    <div class="masthead-heading text-uppercase">TU MERCADO</div>
{% endblock %}

{% block contenido %}

<a class="navbar-brand"><a href={% url 'mueblesFormulario' %}>Publicar un nuevo mueble</a><br>
<a class="navbar-brand"><a href={% url "busquedaMuebles"  %}>Buscar publicaciones de muebles</a><br>
<a class="navbar-brand"><a href={% url "leerMuebles"  %}>Ver todas las publicaciones de muebles</a><br>

{% endblock %}

