{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">
    <div class="masthead-subheading">Vehiculos</div>
    <div class="masthead-heading text-uppercase">TU MERCADO</div>
{% endblock %}

{% block contenido %}
<a class="navbar-brand"><a href={% url 'vehiculosFormulario' %}>Publicar un nuevo vehiculo</a><br>
<a class="navbar-brand"><a href={% url "busquedaVehiculos" %}>Buscar publicaciones de vehiculos</a><br>
<a class="navbar-brand"><a href={% url "leerVehiculos" %}>Ver todas las publicaciones de vehiculos</a><br>
<div>
{% endblock %}
